@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* /////////////////////// */

body {
  background-color: #17263d;
  overflow-x: hidden;
  background-size: cover;
}

/* /////////////// */
/* Header */
/* /////////////// */

.header {
  height: 6.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4.8rem 0 4.8rem;
}

.main-title {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Silkscreen";
  color: #fcc419;
  text-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.246);
}

/* NAV */

.main-nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

/* //////////////// */
/* SECTION MINT */
/* //////////////// */

.btn-mint {
  background-color: #fcc419;
  padding: 1.25rem 1.5rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  border: 0;
  border-radius: 50px;
  width: 12rem;
  cursor: pointer;
}

.btn-mint:hover,
.btn-mint:active {
  background-color: #ddaa14;
}

.mint-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  padding: 5rem;

  background: linear-gradient(to bottom right, #fcc419, #f08c00);
  /* background-color: #f76707; */
  border-radius: 20px;

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}

.mint-title {
  font-family: "Press Start 2P";
  font-size: 4.5rem;
  font-weight: 400;
  color: #222;
}

.close-mint {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 5rem;
  color: #222;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.mint-price {
  font-family: "Press Start 2P", sans-serif;
  font-size: 3rem;
  color: #222;
  word-spacing: -2rem;
}

.mint-description {
  font-family: "Press Start 2P", sans-serif;
  font-size: 3rem;
  color: #222;
}

.mint-quantity {
  width: 6rem;
  height: 6rem;
  border: 3px solid;
  background: rgb(228, 228, 228);
  text-align: center;
  font-size: 3rem;
  font-family: "Press Start 2P", sans-serif;
  padding-left: 1rem;
}

/* ////////////////////// */

/* Boton wallet */
.btn-connect-wallet {
  background-color: #fcc31954;
  padding: 1.25rem 1.5rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  width: 20rem;
}
.btn-connect-wallet:hover .coming-soon {
  display: none;
}

.btn-connect-wallet:hover::before {
  content: "Coming soon!";
}

/* Logo twitter */
.tw {
  cursor: pointer;
  color: #fcc419;
}

.logo-tw {
  height: 4.8rem;
  width: 4.8rem;
}

/* ///////////////////////// */
/* HERO SECTION */

.section-hero {
  height: 93.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  width: 70rem;
  padding-top: 2rem;
}

.container-descrip-tapir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-description {
  width: 40vw;
  font-family: "Silkscreen";
  font-size: 2rem;
  color: #fff;
}

.text-tapirs {
  color: #fcc419;
}

.click-me {
  font-family: "Silkscreen";
  position: absolute;
  color: #fcc419;
  font-weight: 700;
  font-size: 2.5rem;
  top: 5%;
  right: -25%;
}

.click-me-img {
  height: 3rem;
  position: absolute;
  top: 20%;
  right: 5%;
}

.banner {
  width: 192rem;
}

/* TAPIRS CAMBIABLES */

.section-tap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tapirs {
  height: 28rem;
  padding: 3rem 5rem 5rem 0;
}

/* clases de ayuda */
.hidden {
  display: none;
}
