/* 
--- 01 TYPOGRAPHY SYSTEM

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font weights:

-Line-heights: 

-Letter spacing

--- 02 COLORS

Primary: 

-Tints:
-Shades: 
-Accents: 
-Greys: #222 #444

-Background: rgba(0, 255, 255, 0.48),
    rgba(255, 0, 221, 0.458)

--- 05 SHADOWS

box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER RADIUS

--- 07 WHITESPACE

SPACING SYSTEM (px)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* /////////////////////// */

body {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.25)
    ),
    url("./imgs/Colorfull\ Pixel\ Colors\ Pixels\ Colorful\ Color\ Wash\ Pixel\ Wash\ Wallpaper.png");
}

.header {
  font-family: "Rubik", sans-serif;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 4.8rem;
}

.main-title {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Silkscreen";
  color: #fcc419;
  text-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.246);
}

.btn-connect-wallet {
  padding: 1.25rem 1.5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

.tw {
  cursor: pointer;
  color: #fcc419;
}

.logo-tw {
  height: 4.8rem;
  width: 4.8rem;
}

/* ///////////////////////// */
/* HERO SECTION */

.section-hero {
  height: 85vh;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

.logo {
  width: 40vw;
}

.description-tapir--tap {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.hero-description {
  width: 50vw;
  font-family: "Silkscreen";
  font-size: 2rem;
  color: #fff;
  /* text-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.512); */
  padding: 5rem 0 5rem 5rem;
}

span {
  color: #fcc419;
}

.click-me {
  font-family: "Silkscreen";
  position: absolute;
  color: rgb(89, 0, 255);
  font-weight: 700;
  font-size: 2.5rem;
  top: 7%;
  right: -25%;
}

.click-me-img {
  height: 3rem;
  position: absolute;
  top: 20%;
  right: 5%;
}

.banner {
  width: 100vw;
}

/* TAPIRS CAMBIABLES */

.section-tap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  display: none;
}

.tapirs {
  height: 30rem;
  padding: 3rem 5rem 5rem 0;
}
