* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* /////////////////////// */

body {
  background-color: #17263d;
  overflow-x: hidden;
  background-size: cover;
}

/* /////////////// */
/* Header */
/* /////////////// */

.header {
  height: 6.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4.8rem 0 4.8rem;
}

.main-title {
  text-decoration: none;
  font-size: 4rem;
  font-weight: 400;
  font-family: "Silkscreen";
  color: #fcc419;
  text-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.246);
}

/* Boton wallet */
.btn-connect-wallet {
  background-color: #fcc31954;
  padding: 1.25rem 1.5rem;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border: 0;
  border-radius: 50px;
  width: 20rem;
}
.btn-connect-wallet:hover .coming-soon {
  display: none;
}

.btn-connect-wallet:hover::before {
  content: "Coming soon!";
}

/* Logo twitter */
.tw {
  cursor: pointer;
  color: #fcc419;
}

.logo-tw {
  height: 4.8rem;
  width: 4.8rem;
}

/* ///////////////////////// */
/* HERO SECTION */

.section-hero {
  height: 93.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  width: 75rem;
  padding-top: 2rem;
}

.container-descrip-tapir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-description {
  width: 40vw;
  font-family: "Silkscreen";
  font-size: 2rem;
  color: #fff;
}

.text-tapirs {
  color: #fcc419;
}

.click-me {
  font-family: "Silkscreen";
  position: absolute;
  color: rgb(89, 0, 255);
  font-weight: 700;
  font-size: 2.5rem;
  top: 7%;
  right: -25%;
}

.click-me-img {
  height: 3rem;
  position: absolute;
  top: 20%;
  right: 5%;
}

.banner {
  width: 192rem;
}

/* TAPIRS CAMBIABLES */

.section-tap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tapirs {
  height: 28rem;
  padding: 3rem 5rem 5rem 0;
}

/* clases de ayuda */
.hidden {
  display: none;
}
