@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #17263d;
  overflow-x: hidden;
  background-size: cover;
}

/* /////////////// */
/* Header */
/* /////////////// */

.header {
  height: 6.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4.8rem 0 4.8rem;
}

/* NAV */

.main-nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.logo-tw {
  height: 4.6rem;
  width: 4.6rem;
  cursor: pointer;
  color: #fcc419;
}

/* Boton wallet */
.btn-connect-wallet {
  width: 20rem;
  overflow: hidden;
}

.btn-connect {
  width: 12rem;
  display: none;
}

/* //////////////// */
/* SECTION MINT */
/* //////////////// */

.not-wl {
  font-family: "Silkscreen";
  position: absolute;
  color: #fcc419;
  font-weight: 700;
  font-size: 2.5rem;
  top: 5%;
  right: -25%;
}

.btn-mint {
  width: 12rem;
}

.btn:hover,
.btn:active {
  background-color: #b08912;
}

.mint-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
  padding: 5rem;

  background: linear-gradient(to bottom right, #fcc419, #f08c00);
  border-radius: 20px;

  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}

.mint-title {
  font-family: "Press Start 2P";
  font-size: 4.5rem;
  font-weight: 400;
  color: #222;
}

.close-mint {
  position: absolute;
  top: 0;
  right: 1.5rem;
  font-size: 5rem;
  color: #222;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.mint-description {
  font-family: "Press Start 2P", sans-serif;
  font-size: 2.5rem;
  color: #222;
}

.mint-sub-container {
  display: flex;
  flex-direction: row;
  gap: 15rem;
}

.div--price-quantity {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.mint-price {
  font-family: "Press Start 2P", sans-serif;
  font-size: 3rem;
  color: #222;
  word-spacing: -2rem;
}
.mint-quantity {
  width: 6rem;
  height: 6rem;
  border: 3px solid;
  background: rgb(228, 228, 228);
  text-align: center;
  font-size: 3rem;
  font-family: "Press Start 2P", sans-serif;
  padding-left: 1rem;
}

.btn-mint-action {
  background-color: #222 !important;
  color: #fff;
  padding: 1.5rem !important;
}

.secret-tapir {
  height: 20rem;
  border-radius: 20%;
}

/* ////////////////////// */

/* ///////////////////////// */
/* HERO SECTION */

.section-hero {
  height: 93.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  width: 70rem;
  padding-top: 2rem;
}

.container-descrip-tapir {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-description {
  width: 40vw;
  font-family: "Silkscreen";
  font-size: 2rem;
  color: #fff;
}

.span-tapirs {
  color: #fcc419;
}

.banner {
  width: 196rem;
  /* width: 102%; */
}

/* CHANGEABLE TAPIRS */

.tapir-tap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tapirs {
  height: 28rem;
  padding: 3rem 5rem 5rem 0;
}

.click-me {
  font-family: "Silkscreen";
  position: absolute;
  color: #fcc419;
  font-weight: 700;
  font-size: 2.5rem;
  top: 5%;
  right: -25%;
}

.click-me-img {
  height: 3rem;
  position: absolute;
  top: 20%;
  right: 5%;
}

/* general/helper classes */
.hidden {
  display: none;
}

.btn {
  background-color: #fcc419;
  padding: 1.25rem 1.5rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
}

.connected {
  width: 20rem;
  cursor: auto;
  background-color: #17263d;
  border: 2px solid #fcc419;
  color: #fff;
  font-family: "Silkscreen";
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.8rem 1.5rem;
}
